build/
tmp/
output/pdf/*.aux
output/pdf/*.bbl
output/pdf/*.bcf
output/pdf/*.blg
output/pdf/*.idx
output/pdf/*.ilg
output/pdf/*.ind
output/pdf/*.log
output/pdf/*.out
output/pdf/*.run.xml
output/pdf/*.toc
output/pdf/*.fls
output/pdf/*.fdb_latexmk
output/pdf/*.synctex.gz
__pycache__/
*.pyc

